{% extends 'base.html' %}
{% load static %}

  {% block title %} 
    {{title}}
  {% endblock title %}

  {% block content %}
    <div class="container section-hero__container">
        {% if page_obj.has_other_pages %}
            {% include 'units/includes/paginator.html' %}
        {% endif %}
        <h1 class="header-content">{{title}}:</h1>
        {% if request.user.is_authenticated and request.user.is_staff %}
        <a class="btn-style section-hero__btn" href="{% url 'units:unit_create' %}"> Добавить объект</a>
        {% endif %}
        <ul class="main-content-units">
            {% for unit in page_obj %}
                <li class="main-content-unit-item" style="background-image: url({{unit.img.url}});">
                    <a class="main-unit-button" href="{% url 'units:unit_detail' unit.id %}">
                    <div class="main-content-unit">
                        <div class="unit-price">Цена: {{unit.price}}</div>
                        <div class="price-starrange">
                            <div class="main-content-unit-price"> <strong>{{ unit.price_per_metr }}</strong> руб/кв. метр</div>
                        </div>
                        <h3 class="main-content-unit-rem">{{ unit.name }}</h3>
                        <div class="unit-adress">Адрес: {{unit.adress}}</div>
                        <div class="main-content-unit-place">Площадь: {{ unit.square }}</div>
                        Подробнее...
                    </div>
                </a>
                </li>
            {% endfor%}
        </ul>
    </div>
{%endblock%}