{% extends 'base.html' %}
{% load static %}

  {% block title %} 
    {{title}}
  {% endblock title %}

  {% block content %}
    <div class="container section-hero__container">
        {% if page_obj.has_other_pages %}
            {% include 'units/includes/paginator.html' %}
        {% endif %}
        <h1 class="header-content">{{title}}:</h1>
        {% if request.user.is_authenticated and request.user.is_staff %}
        <a class="btn-style section-hero__btn" href="{% url 'units:unit_create' %}"> Добавить объект</a>
        {%if req %}<a class="btn-style section-hero__btn" href="{% url 'units:get_objs' %}?{{req}}"> Сохранить список</a>{% endif%}
        {% endif %}
        <ul class="main-content-units">
            {% for unit in page_obj %}
                {% include 'units/includes/unit.html' %}
            {% endfor%}
        </ul>
    </div>
{%endblock%}