{% extends 'base.html' %}
{% load static %}

  {% block title %} 
    {{ unit }}
  {% endblock title %}

  {% block content %}
    <div class="container section-hero__container">
      <h1 class="header-content">
        {% if is_edit %}
          Редактируем объект: {{ unit }}
        {% else %}
          Создание объекта:
        {% endif %}
      </h1>
      <form method="post" href="{% url 'units:unit_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">
            {% if is_edit %}
              Сохранить
            {% else %}
              Добавить
            {% endif %}
          </button>
        </div>
        <fieldset class="unit_create">
          <section class="unit-create">
            <h5 class="unit-head title" style="display: None">Создание объекта</h5>
            <ul class="create-form">
              <li class="left">
                <table class="table-unit">
                  <thead>
                    <tr>
                      <th score="col-3"></th>
                      <th score="col-3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for field in form %}
                      <tr class="unit-detail-item">
                        <th class="unit-create-head">{{field.label}}</th>
                        <th class="unit-create-field">
                          {{field}}
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </li>
              {% if edit %}
              <li class="right">
                <fieldset class="images-form">
                  {{ images.management_form }}
                  {% for i_form in images %}
                    <div class="unit-image">
                      {{ i_form }}
                    </div>
                  {% endfor %}
                  <button id="add-a-form" type="button" data-formset-add-form>Добавить изображение</button>  
                </fieldset>
              </li>
              {% endif %}
            </ul>
        </fieldset>
      </form>

<!-- Скрипт управления -->
<script>
  let imageForm = document.querySelectorAll(".unit-image")
  let containerImages = document.querySelector(".images-form")
  let addButtonImage = document.querySelector("#add-a-form")
  let totalForms = document.getElementById("id_form-TOTAL_FORMS")
  
  let formNum = imageForm.length-1
    addButtonImage.addEventListener('click', addForm)

  function addForm(e){
      e.preventDefault()

      let newForm = imageForm[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`,'g')
      
      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      containerImages.insertBefore(newForm, addButtonImage)

      totalForms.setAttribute('value', `${formNum+1}`)
  }

</script>
{%endblock%}