{% extends 'base.html' %}
{% load static %}

  {% block title %} 
    {{ unit }}
  {% endblock title %}

  {% block content %}
    <div class="container section-hero__container">
      <h1 class="header-content">{{ unit }}м<sup>2</sup>:</h1>
      <p class="header-adress">{{ unit.adress }}</p>
      <hr>
      {% if request.user.is_staff %}
        <div class="staff-menu">
          <p class="info">Просмотров: {{unit.count_vizitors}}</p>
          <a class="menu-second-item" href="{% url 'units:unit_publicate' unit.id %}">
            {% if unit.is_published %}
              <str style="font-size: 14px;">Снять с публикации.. </str>
            {% else %}
              Опубликовать..
            {% endif %}
          </a>
          <a class="menu-second-item" href="{% url 'units:unit_special' unit.id %}">
            {% if unit.is_special %}
              <str style="font-size: 14px;">Снять предложение</str>
            {% else %}
              Спецпредложение
            {% endif %}
          </a>
          {% if request.user.is_staff or request.user == unit.author %}
            <a class="menu-second-item" href="{% url 'units:unit_edit' unit.id %}">Редактировать</a>
          {% endif %}
        </div><hr>
      {% endif %}
      
      <div class="container unit-details">
        <aside class="unit-images to_1350" style="max-width: 100%;">
          {% include 'units/includes/images_slider.html' %}
        </aside>

        <article class="description-container">
          <div class="unit-description-price">
            <div class="unit-price">
              <div class="unit-price-name">Цена:</div>
              <div class="unit-price-num">{{ unit.unit_price }} руб.</div>
            </div>
            <div class="unit-price-per-m">Цена за м<sup>2</sup> {{ unit.price_per_metr}} руб</div>
          </div>
          <div class="unit-param adr">
            <div class="unit-param-name ">Адрес:</div>
            <div class="unit-param-value adr_detail">
              <span class="ymaps-geolink" data-description="{{ unit }}м. цена: {{ unit.price }} руб.">
                {{ unit.adress }}
              </span>
            </div>
          </div>
          <hr>
          <div class="unit-param">
            <div class="unit-param-name">Площадь:</div>
            <div class="unit-param-value square">{{ unit.square }} м<sup>2</sup></div>
          </div>
          <hr>
          <div class="unit-param in_article">
            <div class="unit-param-name">Опиcание:</div>
            <div class="unit-param-value description">{{ unit.description }}</div>
          </div>
        </article>
      </div>
      <div class="unit-param not_in_article">
        <div class="unit-param-name">Опиcание:</div>
        <div class="unit-param-value description">{{ unit.description }}</div>
      </div>
      <hr>
      <div class="staff-menu detail-contact">
        <ul style="display: flex; flex-direction: row;"> 
          <li class="header__nav-item">
            <a class="menu-second-item" type="button" href="tel:+79608266727">
              <img style="max-width: 30px; margin-right: 5px;" class="header__link-img" src="{% static 'img/phone.png' %}" alt="link2phone">
              <p class="menu-second-item-comment"> +7 960 826-67-27</p>
            </a>
          </li>
          <li class="header__nav-item">
            <a class="menu-second-item" href="https://t.me/+79608266727">
              <img style="max-width: 50px;" class="header__link-img" src="{% static 'img/tgrm.png' %}" alt="link 2 telegram">
            </a>
          </li>
        </ul>
      </div>
  </div>
  <script src={{YandexMapsAPI}} type="text/javascript"></script>
  <style>
    @media (max-width: 1700px) {
      .adr_detail {
        font-size: small;
      }
    }

    @media (max-width: 1380px) {
      .adr {
        display: flex;
        flex-direction: column;
      }
    }
    @media (max-width: 540px) {
      .menu-second-item {
        font-size: smaller;
      }
      
    }
    @media (max-width: 449px) {
    .description {
      margin-left: 5px;
      font-size: xx-small;
      text-align: left;
    }
  }
    @media (max-width: 501px) {
    .staff-menu {
      flex-direction: column;
    }
    .menu-second-item {
      margin-top:2px;
      padding: 3px;
      width: 100%;
      height: 100%;
    }
  }
  </style>
{%endblock%}