{% extends 'base.html' %}
{% load static %}

  {% block title %} 
    {{ unit }}
  {% endblock title %}

  {% block content %}
    <div class="container section-hero__container">
      <h1 class="header-content">{{ unit }}м<sup>2</sup>:</h1>
      <p class="header-adress">{{ unit.adress }}</p>
      <hr>
      {% if request.user.is_staff %}
      <div class="menu-second">
        <a class="menu-second-item" href="{% url 'units:unit_publicate' unit.id %}">
        {% if unit.is_published %}
          Опубликовано: {{unit.is_published|date:"SHORT_DATE_FORMAT"}}. Снять с публикации..
        {% else %}
          Опубликовать..
        {% endif %}
        </a>
      {% endif %}
      {% if request.user.is_staff or request.user == unit.author %}
        <a class="menu-second-item" href="{% url 'units:unit_edit' unit.id %}"> Редактировать объект</a>
      </div><hr>
      {% endif %}
      <div class="container unit-details">
        <aside class="unit-images">
          <div class="carusel-container">
            <div id="carousel" class="carusel">
              <button class="arrow prev">⇦</button>
              <div class="gallery">
                <ul class="images">
                  {% for image in unit.imgs %}
                    <li class="unit-image">
                      <div class="main-content-unit-img"  style="background-image: url({{image.url}})">AН Кристалл</div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <button class="arrow next">⇨</button>
            </div>
          </div>
        </aside>
        <article class="description-container">
          <div class="unit-description-price">
            <div class="unit-price">
              <div class="unit-price-name">Цена:</div>
              <div class="unit-price-num">{{ unit.unit_price }} руб.</div>
            </div>
            <div class="unit-price-per-m">Цена за м<sup>2</sup> {{ unit.price_per_metr}} руб</div>
          </div>
          <div class="unit-param">
            <div class="unit-param-name">Адрес:</div>
            <div class="unit-param-value">{{ unit.adress }}</div>
          </div>
          <hr>
          <div class="unit-param">
            <div class="unit-param-name">Площадь:</div>
            <div class="unit-param-value square">{{ unit.square }} м<sup>2</sup></div>
          </div>
          <hr>
          <div class="unit-param in_article">
            <div class="unit-param-name">Опиcание:</div>
            <div class="unit-param-value description">{{ unit.description }}</div>
          </div>
        </article>
      </div>
      <div class="unit-param not_in_article">
        <div class="unit-param-name">Опиcание:</div>
        <div class="unit-param-value description">{{ unit.description }}</div>
      </div>
      <hr>
      <div class="menu-second detail-contact">
        <a class="menu-second-item" type="button" href="tel:+79608266727">
          <img style="max-width: 30px; margin-right: 5px;" class="header__link-img" src="{% static 'img/phone.png' %}" alt="link2phone">
          Позвонить
          <p class="menu-second-item-comment"> +7 960 826-67-27</p>
        </a>
        <a class="menu-second-item" href="https://t.me/+79608266727">
          <img style="max-width: 50px;" class="header__link-img" src="{% static 'img/tgrm.png' %}" alt="link 2 telegram">
          Написать
          <p class="menu-second-item-comment"> в Телеграмм</p>
        </a>
      </div>
  </div>
<!-- Скрипт перелистывания фото в шаблоне -->
<script>
  let i = 1;
  for(let li of carousel.querySelectorAll('li')) {
    li.style.position = 'relative';
    li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
    i++;
  }

  /* конфигурация */
  let img = document.querySelector(".main-content-unit-img")
  let width = img.offsetWidth; // ширина картинки
  console.log(img.offsetWidth)
  let count = 1; // видимое количество изображений

  let list = carousel.querySelector('ul');
  let listElems = carousel.querySelectorAll('li');

  let position = 0; // положение ленты прокрутки

  carousel.querySelector('.prev').onclick = function() {
    // сдвиг влево
    position += width * count;
    // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
    position = Math.min(position, 0)
    list.style.marginLeft = position + 'px';
  };

  carousel.querySelector('.next').onclick = function() {
    // сдвиг вправо
    position -= width * count;
    // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
    position = Math.max(position, -width * (listElems.length - count));
    list.style.marginLeft = position + 'px';
  };
</script>
{%endblock%}