{% load static %}

<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true" style="max-width: 800px;">
        {% for image in unit.imgs %}
            <swiper-slide style="max-width: 800px;">
              <img src="{{image.url}}" alt="Фото объекта">
            </swiper-slide>
        {% endfor %}
  </swiper-container>

  <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true"
    watch-slides-progress="true">
    {% for image in unit.imgs %}
      <swiper-slide>
        <img src="{{image.url}}">
      </swiper-slide>
    {% endfor %}
  </swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<style>
  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    object-fit: cover;
  }

  swiper-container {
    width: 100%;
    height: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

</style>
